#brd-navlinks li a::before {
	font-family: FontAwesome;
}

#navuserlist > a::before {
	content: "\f0c0\20";
}

#navprofile > a::before {
	content: "\f007\20";
}

#navsearch > a::before {
	content: "\f002\20";
}

#navlogout > a::before {
	content: "\f08b\20";
}

#navlogin > a::before {
	content: "\f090\20";
}

#navregister > a::before {
	content: "\f00c\20";
}

#navindex > a::before {
	content: "\f015\20";
}

#navadmin > a::before {
	content: "\f0ad\20";
}

#nav_pun_pm > a::before {
	content: "\f0e6\20";
}

#navrules > a::before {
	content: "\f0f6\20";
}

a.feed {
	background: none;
	padding-left: 0;
}

a.feed::before {
	font-family: FontAwesome;
	content: "\f09e\20";
}

.post-contacts a::before, .post-actions a::before {
	font-family: FontAwesome;
}

.post-contacts .user-email a::before {
	content: "\f003\20";
}

.post-contacts .user-url a::before {
	content: "\f0c1\20";
}

.post-contacts .contact a::before {
	content: "\f0e6\20";
}

.post-actions .report-post a::before {
	content: "\f188\20";
}

.post-actions .delete-topic a::before, .post-actions .delete-post a::before {
	content: "\f014\20";
}

.post-actions .edit-post a::before {
	content: "\f040\20";
}

.post-actions .quote-post a::before {
	content: "\f10d\20";
}
